<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.laborun.servlet.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewStaff</servlet-name>
        <servlet-class>com.laborun.servlet.NewStaff</servlet-class>
    </servlet>
    <!--<servlet>-->
    <!--<servlet-name>NewTrainee</servlet-name>-->
    <!--<servlet-class>com.laborun.servlet.NewTrainee</servlet-class>-->
    <!--</servlet>-->
    <servlet>
        <servlet-name>NewCourse</servlet-name>
        <servlet-class>com.laborun.servlet.NewCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewGroup</servlet-name>
        <servlet-class>com.laborun.servlet.NewGroup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewIntake</servlet-name>
        <servlet-class>com.laborun.servlet.NewIntake</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewDepartment</servlet-name>
        <servlet-class>com.laborun.servlet.NewDepartment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getDepartments</servlet-name>
        <servlet-class>com.laborun.servlet.getDepartments</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewTrainee1</servlet-name>
        <servlet-class>com.laborun.servlet.NewTrainee1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GroupsView</servlet-name>
        <servlet-class>com.laborun.servlet.GroupsView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadFile</servlet-name>
        <servlet-class>com.laborun.servlet.UploadFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAssignmentFiles</servlet-name>
        <servlet-class>com.laborun.servlet.GetAssignmentFiles</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotificationsServ</servlet-name>
        <servlet-class>com.laborun.servlet.NotificationsServ</servlet-class>
    </servlet>
    
    <!--<servlet>-->
    <!--<servlet-name>UploadFile</servlet-name>-->
    <!--<servlet-class>com.laborun.servlet.UploadFile</servlet-class>-->
    <!--</servlet>-->
    <servlet>
        <servlet-name>CoursesView</servlet-name>
        <servlet-class>com.laborun.servlet.CoursesView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LabView</servlet-name>
        <servlet-class>com.laborun.servlet.LabView</servlet-class>
    </servlet>
    <!--<servlet>-->
    <!--<servlet-name>GetAssignmentFiles</servlet-name>-->
    <!--<servlet-class>com.laborun.servlet.GetAssignmentFiles</servlet-class>-->
    <!--</servlet>-->
    <servlet>
        <servlet-name>NewLab</servlet-name>
        <servlet-class>com.laborun.servlet.NewLab</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewIntake</servlet-name>
        <servlet-class>com.laborun.servlet.viewIntake</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewDepartment</servlet-name>
        <servlet-class>com.laborun.servlet.viewDepartment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestAssistenceQueue</servlet-name>
        <servlet-class>com.laborun.servlet.RequestAssistenceQueue</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QueuesClosing</servlet-name>
        <servlet-class>com.laborun.servlet.QueuesClosing</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QueuesShift</servlet-name>
        <servlet-class>com.laborun.servlet.QueuesShifting</servlet-class>
    </servlet>
    
   
    <servlet>
        <servlet-name>RequestDelQueue</servlet-name>
        <servlet-class>com.laborun.servlet.RequestDelQueue</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveFromAssistanceQueue</servlet-name>
        <servlet-class>com.laborun.servlet.RemoveFromAssistanceQueue</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveFromDeliveryQueue</servlet-name>
        <servlet-class>com.laborun.servlet.RemoveFromDeliveryQueue</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/checklogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewStaff</servlet-name>
        <url-pattern>/NewStaff</url-pattern>
    </servlet-mapping>
    <!--<servlet-mapping>-->
    <!--<servlet-name>NewTrainee</servlet-name>-->
    <!--<url-pattern>/NewTrainee</url-pattern>-->
    <!--</servlet-mapping>-->
    <servlet-mapping>
        <servlet-name>NewCourse</servlet-name>
        <url-pattern>/NewCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewGroup</servlet-name>
        <url-pattern>/NewGroup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewIntake</servlet-name>
        <url-pattern>/NewIntake</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewDepartment</servlet-name>
        <url-pattern>/NewDepartment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getDepartments</servlet-name>
        <url-pattern>/getDepartments</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewTrainee1</servlet-name>
        <url-pattern>/NewTrainee1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GroupsView</servlet-name>
        <url-pattern>/staff/groups</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CoursesView</servlet-name>
        <url-pattern>/staff/courses</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LabView</servlet-name>
        <url-pattern>/staff/lab</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GroupsView</servlet-name>
        <url-pattern>/trainee/groups</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CoursesView</servlet-name>
        <url-pattern>/trainee/courses</url-pattern>
    </servlet-mapping>
    <!--<welcome-file-list>-->
    <!--<welcome-file>login.html</welcome-file>-->
    <!--</welcome-file-list>-->
    <servlet-mapping>
        <servlet-name>NewLab</servlet-name>
        <url-pattern>/NewLab</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LabView</servlet-name>
        <url-pattern>/trainee/lab</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewIntake</servlet-name>
        <url-pattern>/viewIntake</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewDepartment</servlet-name>
        <url-pattern>/viewDepartment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestAssistenceQueue</servlet-name>
        <url-pattern>/RequestAssistenceQueue</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QueuesClosing</servlet-name>
        <url-pattern>/staff/closeQueue</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QueuesShift</servlet-name>
        <url-pattern>/staff/shiftQueue</url-pattern>
    </servlet-mapping>

    <servlet-mapping>      
        <servlet-name>NotificationsServ</servlet-name>
        <url-pattern>/NotificationsServ</url-pattern>
    </servlet-mapping>

<servlet-mapping>
        <servlet-name>RequestDelQueue</servlet-name>
        <url-pattern>/RequestDelQueue</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>RemoveFromAssistanceQueue</servlet-name>
        <url-pattern>/RemoveFromAssistanceQueue</url-pattern>
    </servlet-mapping>
  
    
    <servlet-mapping>
        <servlet-name>RemoveFromDeliveryQueue</servlet-name>
        <url-pattern>/RemoveFromDeliveryQueue</url-pattern>
    </servlet-mapping>

<!--    <servlet-mapping>
        <servlet-name>RequestDelQueue</servlet-name>
        <url-pattern>/RequestDelQueue</url-pattern>
    </servlet-mapping>-->
<!--    <servlet-mapping>
        <servlet-name>NotificationsServ</servlet-name>
        <url-pattern>/NotificationsServ</url-pattern>
    </servlet-mapping>-->
<!--    <servlet-mapping>
        <servlet-name>RemoveFromAssistanceQueue</servlet-name>
        <url-pattern>/RemoveFromAssistanceQueue</url-pattern>
    </servlet-mapping>
  -->
    
<!--    <servlet-mapping>
        <servlet-name>RemoveFromDeliveryQueue</servlet-name>
        <url-pattern>/RemoveFromDeliveryQueue</url-pattern>
    </servlet-mapping>    -->

</web-app>
